{% extends 'base.html' %}
{% block title %}Page Not Found{% endblock %}
{% block content %}

<!-- 404 page not found -->
<div class="container-error">
  <div class="row">
    <div class="col s12">
      <h3><i class="fas fa-exclamation"></i> 404 page not found</h3>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <img src="{{ url_for('static', filename='assets/images/errors/humour404error-min.jpg') }}" alt="Page Not Found" class="responsive-img error404-img">
    </div>
  </div>
  <div class="row">
    <div class="col s12 text blue-text">
      <p>I didn't eat it. I swear ;) !</p>
    </div>
  </div>
  <!-- link to homepage -->
  <div class="row">
    <div class="col s12 back-link">
      <p>
        <a id="back-homepage" href="{{ url_for('get_home') }}" class="blue-light-text">Back to homepage
          <i class="fas fa-arrow-alt-circle-right" aria-hidden="true"></i>
        </a>
      </p>
    </div>
  </div>
</div>

{% endblock %}
