{% extends 'base.html' %}
{% block title %}Page Not Found{% endblock %}
{% block content %}
<!-- 404 page not found -->
<div class="container-error">
  <div class="row">
    <div class="col s12">
      <h3><i class="fas fa-exclamation"></i> 404 page not found</h3>
    </div>
  </div>
  <div class="row">
    <div class="col s8">
      <img src="{{ url_for('static', filename='assets/images/errors/humour404error-min.jpg') }}" alt="Page Not Found" class="responsive-img">
    </div>
    <div class="col s4 text">
      <h4>
        <span>I didn't eat it.</span>
        <br>
        <span>I swear!</span>
      </h4>
    </div>
  </div>
  <div class="row">
    <div class="col s12 back-link">
      <h4>
        <a id="back-homepage" href="{{ url_for('get_home') }}" class="blue-light-text">Back to homepage
          <i class="fas fa-arrow-alt-circle-right" aria-hidden="true"></i>
        </a>
      </h4>
    </div>
  </div>
</div>
{% endblock %}
