html, body {
  margin: 0;
  padding: 0;
}

.brand-logo img {
  height: 50px;
  width: 50px;
  margin: 5px 10px 5px 10px;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

.menu {
  color: #444;
}

.sidenav-trigger {
  color: #1C5925;
}

.teal-text.text-lighten-2 {
  color: #3caf4e !important;
  text-shadow: 0 0 10px black;
}

h3 {
  margin: 20px 0 50px 0;
  color: #31628b;
}

/* -------------------------------------------------------- Sidenav ---------------------------------*/
#mobile-sidenav a {
  font-size: 18px;
}

#mobile-sidenav a .fa-leaf, #mobile-sidenav a .fa-plus, #mobile-sidenav a .fa-cog {
  font-size: 20px;
}

.dropdown-content li>a {
  color: #444;
  font-size: 14.5px;
}

#dropdown-categories-nav-mobile li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#dropdown-categories-mobile-sidenav li {
  font-size: 18px;
}

#dropdown-categories-mobile-sidenav .fa-cog {
  margin-left: 30px;
}

#dropdown-categories-mobile-sidenav li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/* -------------------------------------------------------- Common ---------------------------------*/
p {
  line-height: 2rem;
}

.overlay {
  color: #fafafa !important;
  background-color: rgba(0, 0, 0, 0.4);
}

.inline {
  display: inline;
}

/* -------------------------------------------------------- buttons ---------------------------------*/
.btn, .lighten-3, .lighten-1 {
  background-color: #31628b;
}

.btn:hover, a.btn:hover, a.btn-large:hover {
  background-color: #3997e5;
  box-shadow: 0 0 5px 0px white;
}

.btn-support {
  margin-bottom: 14px;
}

a.btn_small:hover {
  background-color: #444 !important;
  box-shadow: 0 0 5px 0px black;
}

/* -------------------------------------------------------- parallax-container ---------------------------------*/
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
  width: 100%;
}

/* ----------------------------------------------------------- Icons ------------------------------------------*/
.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.blue-text {
  color: #31628b !important;
}

h3 .fa-leaf, h3 .fa-edit {
  color: #31628b;
}

.fa-github, .fa-twitter {
  color: #98CAE9;
  font-size: 16px;
  padding-left: 3px;
}

.footer-copyright .fa-github {
  font-size: 14px;
}

.fa-github:hover, .fa-twitter:hover {
  color: #3caf4e;
}

#nav-mobile .fa-leaf, #nav-mobile .fa-plus, #nav-mobile .fa-cog {
  font-size: 18px;
  margin-right: 3px;
}

#nav-mobile .fa-caret-down {
  margin-left: 5px;
}

/* ----------------------------------------------------------- Navbar ------------------------------------------*/
nav ul a:hover {
  background-color: rgba(0, 0, 0, 0.05);
  color: #31628b;
}

#nav-mobile .fas, #mobile-sidenav .fas {
  padding-right: 5px;
}

/* ----------------------------------------------------------- Footer ------------------------------------------*/
footer.page-footer {
  margin: 0;
}

.page-footer {
  background-color: #1C5925 !important;
}

/* ----------------------------------------------------------- addplant.html ------------------------------------------*/
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #31628b;
  box-shadow: 0 1px 0 0 #31628b;
}

input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
  color: #31628b;
}

.input-field .prefix.active {
  color: #31628b;
}

.dropdown-content li>a, .dropdown-content li>span {
  font-size: 16px;
  color: #31628b;
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}

.dropdown-plant-type {
  margin-top: 2rem;
}

/* ----------------------------------------------------------- editplant.html ------------------------------------------*/
/* Validation Sass Placeholders */
input.valid:not([type]), input.valid:not([type]):focus,
input[type=text].valid:not(.browser-default),
input[type=text].valid:not(.browser-default):focus,
input[type=password].valid:not(.browser-default),
input[type=password].valid:not(.browser-default):focus,
input[type=email].valid:not(.browser-default),
input[type=email].valid:not(.browser-default):focus,
input[type=url].valid:not(.browser-default),
input[type=url].valid:not(.browser-default):focus,
input[type=time].valid:not(.browser-default),
input[type=time].valid:not(.browser-default):focus,
input[type=date].valid:not(.browser-default),
input[type=date].valid:not(.browser-default):focus,
input[type=datetime].valid:not(.browser-default),
input[type=datetime].valid:not(.browser-default):focus,
input[type=datetime-local].valid:not(.browser-default),
input[type=datetime-local].valid:not(.browser-default):focus,
input[type=tel].valid:not(.browser-default),
input[type=tel].valid:not(.browser-default):focus,
input[type=number].valid:not(.browser-default),
input[type=number].valid:not(.browser-default):focus,
input[type=search].valid:not(.browser-default),
input[type=search].valid:not(.browser-default):focus,
textarea.materialize-textarea.valid,
textarea.materialize-textarea.valid:focus, .select-wrapper.valid>input.select-dropdown {
  border-bottom: 0.3px solid #9e9e9e;
  -webkit-box-shadow: 0 0px 0 0 #9e9e9e;
}

#modal-delete {
  background-color: #fafafa;
}

#modal-delete h4 {
  color: #31628b;
}

.btn-flat {
  background-color: #9e9e9e;
  color: #fafafa;
}

.btn-flat:hover {
  background-color: #444;
}

/* ---------------------------------------------------------- Media queries ------------------------------------*/
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}
