html, body {
  margin: 0;
  padding: 0;
}

.brand-logo img {
  height: 50px;
  width: 50px;
  margin: 5px 10px 5px 10px;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

.menu {
  color: #444;
}

.sidenav-trigger {
  color: #1C5925;
}

.teal-text.text-lighten-2 {
  color: #3caf4e !important;
  text-shadow: 0 0 10px black;
}

h3.plants {
  margin: 20px 0 50px 0;
  color: #31628b;
}

/* -------------------------------------------------------- Sidenav ---------------------------------*/

#mobile-sidenav a {
  font-size: 18px;
}

#mobile-sidenav a .fa-leaf, #mobile-sidenav a .fa-plus, #mobile-sidenav a .fa-cog {
  font-size: 20px;
}

.dropdown-content li > a {
  color: #444;
  font-size: 14.5px;
}

#dropdown-categories-nav-mobile li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#dropdown-categories-mobile-sidenav li {
  font-size: 18px;
}

#dropdown-categories-mobile-sidenav .fa-cog {
  margin-left: 30px;
}

#dropdown-categories-mobile-sidenav li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

/* -------------------------------------------------------- Common ---------------------------------*/
p {
  line-height: 2rem;
}

.overlay {
  color: #fafafa !important;
  background-color: rgba(0, 0, 0, 0.4);
}

.inline {
  display: inline;
}

/* -------------------------------------------------------- buttons ---------------------------------*/
.btn, .lighten-3, .lighten-1 {
  background-color: #31628b;
}

.btn:hover, a.btn:hover, a.btn-large:hover {
  background-color: #3997e5;
  box-shadow: 0 0 5px 0px white;
}

.btn-support {
  margin-bottom: 14px;
}

a.btn_small:hover {
  background-color: #444 !important;
  box-shadow: 0 0 5px 0px black;
}

/* -------------------------------------------------------- parallax-container ---------------------------------*/
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
  width: 100%;
}

/* ----------------------------------------------------------- Icons ------------------------------------------*/
.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.blue-text {
  color: #31628b !important;
}

h3 .fa-leaf {
  color: #31628b;
}

.fa-github, .fa-twitter {
  color: #98CAE9;
  font-size: 16px;
  padding-left: 3px;
}

.footer-copyright .fa-github {
  font-size: 14px;
}

.fa-github:hover, .fa-twitter:hover {
  color: #3caf4e;
}

#nav-mobile .fa-leaf, #nav-mobile .fa-plus, #nav-mobile .fa-cog {
  font-size: 18px;
  margin-right: 3px;
}

#nav-mobile .fa-caret-down {
  margin-left: 5px;
}

/* ----------------------------------------------------------- Navbar ------------------------------------------*/
nav ul a:hover {
  background-color: rgba(0, 0, 0, 0.05);
  color: #31628b;
}

#nav-mobile .fas, #mobile-sidenav .fas {
  padding-right: 5px;
}

/* ----------------------------------------------------------- Footer ------------------------------------------*/
footer.page-footer {
  margin: 0;
}

.page-footer {
  background-color: #1C5925 !important;
}

/* ---------------------------------------------------------- Media queries ------------------------------------*/
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}
