html, body {
  margin: 0;
  padding: 0;
}

.brand-logo img {
  height: 50px;
  width: 50px;
  margin: 5px 10px 5px 10px;
}

.inline {
  display: inline;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #1C5925;
  /* #26a69a */
}

.teal.lighten-3, .teal.lighten-1 {
  background-color: #31628b !important;
}

.teal.lighten-1 {
  box-shadow: 0 0 20px 0px black;
}

.teal-text.text-lighten-2 {
  color: #3caf4e !important;
  text-shadow: 0 0 20px black;
}

.overlay {
  color: #fafafa !important;
  background-color: rgba(0, 0, 0, 0.4);
}

/* -------------------------------------------------------- parallax-container -*/
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
  width: 100%;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.light-blue-text {
  color: #31628b !important;
}


.fa-leaf {
  color: #31628b;
}

/* ----------------------------------------------------------- Footer ------------------------------------------*/
footer.page-footer {
  margin: 0;
}

.teal {
  background-color: #1C5925 !important;
}

/* ---------------------------------------------------------- Media queries ------------------------------------*/
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}
