@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=B612:wght@400;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'B612', sans-serif;
  font-size: 14px;
}

.brand-logo img {
  height: 50px;
  width: 50px;
  margin: 7px 15px 7px 15px;
}

nav ul a,
nav .brand-logo {
  color: #444;
  width: 12rem;
}

.menu {
  color: #444;
}

.sidenav-trigger {
  color: #1C5925;
}

h1.teal-text.text-lighten-2 {
  color: #3caf4e !important;
  text-shadow: 0 0 10px black;
  font-size: 70px;
}

h2, h3, h4 {
  color: #31628b;
}

h3 {
  margin: 20px 0 50px 0;
  font-size: 46px;
}

h4 {
  font-weight: 700;
}

/* -------------------------------------------------------- Sidenav ---------------------------------*/
#mobile-sidenav .button, #mobile-sidenav .dropdown-button, #mobile-sidenav li form {
  font-size: 16px;
}

#mobile-sidenav a .fa-leaf, #mobile-sidenav a .fa-cog, #mobile-sidenav a .fa-search,  {
  font-size: 20px;
}

#dropdown-categories-mobile-sidenav li>a, #dropdown-plants-mobile-sidenav li>a {
  font-size: 14px;
}

#dropdown-categories-mobile-sidenav li>a .fa-cog, #dropdown-plants-mobile-sidenav li>a .fa-leaf {
  margin-left: 40px;
  font-size: 18px;
}

#dropdown-categories-mobile-sidenav li:hover, #dropdown-plants-mobile-sidenav li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

#mobile-sidenav {
  background-color: #fafafa;
}

.side-nav li>a {
    width: -webkit-fill-available;
}

#mobile-sidenav .square {
  width: 100px;
  height: 100px;
}

#mobile-sidenav .title {
  color: #fafafa;
  font-size: 16px;
  font-weight: 700;
  text-shadow: 0 0 15px black;
}

.side-nav .user-view, .side-nav .userView {
    position: relative;
    padding: 32px 32px 32px 64px;
    margin-bottom: 8px;
}

nav ul a:hover {
  background-color: rgba(0, 0, 0, 0.05);
  color: #31628b;
}

.side-nav li div a {
    background-color: rgba(0, 0, 0, 0.0);
  }

.overlay-sidenav {
  background-color: rgba(0, 0, 0, 0.5);
}

#mobile-sidenav form #search_text {
    height: 38px;
}

#mobile-sidenav form {
    margin: auto;
    width: 100%;
    padding-left: 16px;
}

#mobile-sidenav .input-field {
    padding-top: 7px;
}

#mobile-sidenav form .label-icon i {
  color: #444;
  font-size: 24px;
  line-height: 30px;
}

#mobile-sidenav form label {
  font-size: 16px;
  line-height: 44px;
}

#mobile-sidenav form i#close {
  font-size: 16px;
  line-height: 52px;
}

#mobile-sidenav input#search_text {
  margin: 0px;
  font-size: 16px;
}

#mobile-sidenav .input-field input[type=search] {
  height: inherit;
  padding-left: 3.1rem;
}


/* -------------------------------------------------------- Navbar ---------------------------------*/
#nav-mobile a {
  font-size: 16px;
}

#nav-mobile li .dropdown-button .fa-leaf, #nav-mobile li .dropdown-button .fa-cog, #nav-mobile li .fa-search {
  font-size: 20px;
}

#dropdown-categories-nav-mobile li>a, #dropdown-plants-nav-mobile li>a {
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
}

#dropdown-categories-nav-mobile li>a .fa-cog, #dropdown-plants-nav-mobile li>a .fa-leaf, #dropdown-categories-nav-mobile li>a .fa-search {
  font-size: 18px;
}

#dropdown-categories-nav-mobile li>a:hover, #dropdown-plants-nav-mobile li>a:hover {
  background-color: rgba(0, 0, 0, 0.2);
  color: #31628b;
}

#nav-mobile .fa-caret-down,  #mobile-sidenav .fa-caret-down {
  padding-left: 5px;
}

#nav-mobile .fa-leaf, #nav-mobile .fa-cog, #nav-mobile .fa-search, #mobile-sidenav .fa-leaf, #mobile-sidenav .fa-cog, #mobile-sidenav .fa-search {
  padding-right: 10px;
}

#nav-mobile form #search_text {
    height: 50px;
}

#nav-mobile form{
    margin: auto;
    width: 100%;
}

#nav-mobile .input-field{
    padding-top: 7px;
}

#nav-mobile form .label-icon i {
  color: #444;
  font-size: 30px;
  line-height: 40px;
}

#nav-mobile form label {
  font-size: 16px;
  line-height: 44px;
}

#nav-mobile form i#close {
  font-size: 16px;
  line-height: 64px;
  margin-left: 50px;
}

#nav-mobile input#search_text {
  margin: 0px;
  font-size: 16px
}

#nav-mobile .input-field input[type=search] {
    width: 300px;
    padding-left: 4rem;
  }


/* -------------------------------------------------------- Common ---------------------------------*/
p {
  line-height: 2rem;
}

.overlay {
  color: #fafafa !important;
  background-color: rgba(0, 0, 0, 0.4);
}

.inline {
  display: inline;
}

.divider-custom {
    margin: 0 0 0 0;
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
}

.green-text {
  color: #3caf4e;
}

.blue-text {
  color: #31628b!important;
}

.blue-light-text {
  color: #98CAE9;
}
/* -------------------------------------------------------- buttons ---------------------------------*/
.btn, .lighten-3, .lighten-1 {
  background-color: #31628b;
}

.btn:hover, a.btn:hover, a.btn-large:hover {
  background-color: #3997e5;
  box-shadow: 0 0 5px 0px white;
}

.btn-support {
  margin-bottom: 14px;
}

a.btn.grey:hover, .btn.grey:hover  {
  background-color: #444 !important;
  box-shadow: 0 0 5px 0px black;
}

a.btn.grey {
  height: 30px;
  line-height: 30px;
  padding: 0 2.2rem;
}

.btn, a.btn-cancel.grey {
  height: 36px;
  line-height: 36px;
  padding: 0 2rem;
}

a.btn, a.btn-flat, .btn.grey {
  font-size: 14px;
}

.btn-flat {
  height: 32px;
  line-height: 32px;
  padding: 0 1rem;
}

/* -------------------------------------------------------- parallax-container ---------------------------------*/
.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

.parallax-container .section {
  width: 100%;
}

#index-banner .container {
  margin-top: 60px;
}

.main-container {
  margin-top: 70px;
  margin-bottom: 70px;
}

/* ----------------------------------------------------------- Icons ------------------------------------------*/
.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

h3 .fa-leaf, h3 .fa-edit {
  color: #31628b;
}

.fa-github, .fa-twitter {
  color: #98CAE9;
  font-size: 16px;
  padding-left: 3px;
}

.footer-copyright .fa-github {
  font-size: 14px;
}

.fa-github:hover, .fa-twitter:hover {
  color: #3caf4e;
}

/* ----------------------------------------------------------- Footer ------------------------------------------*/
footer.page-footer {
  margin: 0;
}

.page-footer {
  background-color: #1C5925 !important;
}

.footer-container {
  margin-top: 20px;
  margin-bottom: 30px;
}

.connect {
  margin-top: 50px;
}

/* ----------------------------------------------------------- addplant.html ------------------------------------------*/
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #31628b;
  box-shadow: 0 1px 0 0 #31628b;
}

input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label {
  color: #31628b;
}

.input-field .prefix.active {
  color: #31628b;
}

.dropdown-content li>a, .dropdown-content li>span {
  font-size: 16px;
  color: #31628b;
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}

.dropdown-plant-type {
  margin-top: 2rem;
}

/* ----------------------------------------------------------- editplant.html ------------------------------------------*/
/* Validation Sass Placeholders */
input.valid:not([type]), input.valid:not([type]):focus,
input[type=text].valid:not(.browser-default),
input[type=text].valid:not(.browser-default):focus,
input[type=password].valid:not(.browser-default),
input[type=password].valid:not(.browser-default):focus,
input[type=email].valid:not(.browser-default),
input[type=email].valid:not(.browser-default):focus,
input[type=url].valid:not(.browser-default),
input[type=url].valid:not(.browser-default):focus,
input[type=time].valid:not(.browser-default),
input[type=time].valid:not(.browser-default):focus,
input[type=date].valid:not(.browser-default),
input[type=date].valid:not(.browser-default):focus,
input[type=datetime].valid:not(.browser-default),
input[type=datetime].valid:not(.browser-default):focus,
input[type=datetime-local].valid:not(.browser-default),
input[type=datetime-local].valid:not(.browser-default):focus,
input[type=tel].valid:not(.browser-default),
input[type=tel].valid:not(.browser-default):focus,
input[type=number].valid:not(.browser-default),
input[type=number].valid:not(.browser-default):focus,
input[type=search].valid:not(.browser-default),
input[type=search].valid:not(.browser-default):focus,
textarea.materialize-textarea.valid,
textarea.materialize-textarea.valid:focus, .select-wrapper.valid>input.select-dropdown {
  border-bottom: 0.3px solid #9e9e9e;
  -webkit-box-shadow: 0 0px 0 0 #9e9e9e;
}

/* ---------------------------------------------------------- Delete modal ------------------------------------*/

#modal-delete {
  background-color: #fafafa;
}

#modal-delete h4 {
  color: #31628b;
  font-weight: 700;
}

.btn-flat {
  background-color: #9e9e9e;
  color: #fafafa;
}

.btn-flat:hover {
  background-color: #444;
}

.waves-effect.waves-grey .waves-ripple {
  background-color: rgba(158, 158, 158, 0.7);
}

.category-frame {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.category-frame > li {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin: 0 24px;
    transition: margin 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.category-frame-header {
    display: flex;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.5;
    padding: 1rem;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}


/* ---------------------------------------------------------- Error page ------------------------------------*/
#back-homepage:hover {
  color: #3caf4e;
}

/* ---------------------------------------------------------- Media queries ------------------------------------*/
@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

@media only screen and (max-width: 320px) {
  body {
    font-size: 10px;
  }
  h1.teal-text.text-lighten-2 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 26px;
  }

  h5 {
    font-size: 12px;
  }

  a.btn, a.btn-flat {
    font-size: 10px;
  }

  #index-banner .container {
    margin-top: 60px;
  }

  .main-container {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .footer-container {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .contact, .help-grow {
    margin-top: 10px;
  }

  .connect {
    margin-top: 25px;
  }

  .brand-logo img {
    height: 35px;
    width: 35px;
    margin: 10px 10px 7px 10px;
  }

  a.btn.grey {
    height: 14px;
    line-height: 14px;
    padding: 0 0.3rem;
  }

  .btn, a.btn-cancel.grey {
    height: 28px;
    line-height: 28px;
    padding: 0 1rem;
  }

  a.btn, a.btn-flat, .btn.grey {
    font-size: 12px;
  }

  .btn-flat {
    height: 24px;
    line-height: 24px;
    padding: 0 1rem;
  }
}

/* extra small - small phones */
@media only screen and (min-width: 320px) and (max-width: 575px){

  body {
    font-size: 12px;
  }

  h1.teal-text.text-lighten-2 {
    font-size: 40px;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 14px;
  }

  a.btn, a.btn-flat {
    font-size: 12px;
  }

  #index-banner .container {
    margin-top: 75px;
  }

  .main-container {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .footer-container {
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .contact, .help-grow {
    margin-top: 15px;
  }

  .connect {
    margin-top: 30px;
  }

  .brand-logo img {
    height: 40px;
    width: 40px;
    margin: 7px 15px 7px 15px;
  }

  a.btn.grey {
    height: 18px;
    line-height: 18px;
    padding: 0 0.8rem;
  }

  .btn, a.btn-cancel.grey {
    height: 30px;
    line-height: 30px;
    padding: 0 1.2rem;
  }

  a.btn, a.btn-flat, .btn.grey {
    font-size: 12px;
  }

  .btn-flat {
    height: 28px;
    line-height: 28px;
    padding: 0 1rem;
  }
}

/* Small - phones */
@media only screen and (min-width: 576px) and (max-width: 767px){

  body {
    font-size: 12px;
  }

  h1.teal-text.text-lighten-2 {
    font-size: 50px;
  }

  h3 {
    font-size: 36px;
  }

  h4 {
    font-size: 26px;
  }

  h5 {
    font-size: 18px;
  }

  #index-banner .container {
    margin-top: 70px;
  }

  .main-container {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .footer-container {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .contact, .help-grow {
    margin-top: 20px;
  }

  .connect {
    margin-top: 30px;
  }

  .brand-logo img {
    height: 45px;
    width: 45px;
    margin: 7px 15px 7px 15px;
  }

  a.btn.grey {
    height: 20px;
    line-height: 20px;
    padding: 0 1.4rem;
  }

  .btn, a.btn-cancel.grey {
    height: 32px;
    line-height: 32px;
    padding: 0 1.4rem;
  }

  a.btn, a.btn-flat, .btn.grey {
    font-size: 12px;
  }

  .btn-flat {
    height: 28px;
    line-height: 28px;
    padding: 0 1rem;
  }
}

/* Medium - tablets */
@media only screen and (min-width: 768px) and (max-width: 991px){
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  #index-banner .section {
    top: 10%;
  }

  h1.teal-text.text-lighten-2 {
    font-size: 60px;
  }

  h3 {
    font-size: 40px;
  }

  h4 {
    font-size: 30px;
  }

  h5 {
    font-size: 20px;
  }

  #index-banner .container {
    margin-top: 40px;
  }

  .main-container {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .footer-container {
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .contact, .help-grow {
    margin-top: 20px;
  }

  .connect {
    margin-top: 30px;
  }

  a.btn.grey {
    height: 26px;
    line-height: 26px;
    padding: 0 1.8rem;
  }

  .btn, a.btn-cancel.grey {
    height: 34px;
    line-height: 34px;
    padding: 0 1.8rem;
  }

  a.btn, a.btn-flat, .btn.grey {
    font-size: 14px;
  }

  .btn-flat {
    height: 30px;
    line-height: 30px;
    padding: 0 1rem;
  }
}

/* Large - laptop & desktop */
@media only screen and (min-width: 992px){
 }
