<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- Let browser know website is optimized for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>The Green Corner</title>
  <!-- CSS -->
  <!-- Import Google Icon Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <!-- Import Materialize -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
  <link rel="stylesheet" href="{{url_for('static', filename='assets/css/style.css')}}" type="text/css" />
</head>

<body>
  <!-- header -->
  <header>
    <!-- navbar -->
    <div>
      <!-- Dropdown Structure -->
      <ul id="dropdown-categories-nav-mobile" class="dropdown-content">
        <li><a href="#!"><span class="fas fa-cog"></span>Plant type</a></li>
        <li class="divider"></li>
        <li><a href="#!"><span class="fas fa-cog"></span>Shade tolerance</a></li>
      </ul>
      <ul id="dropdown-categories-mobile-sidenav" class="dropdown-content">
        <li><a href="#!"><span class="fas fa-cog"></span>Plant type</a></li>
        <li><a href="#!"><span class="fas fa-cog"></span>Shade tolerance</a></li>
      </ul>
      <nav class="white">
        <div class="nav-wrapper">
          <div>
            <a href="{{url_for('get_home')}}" class="brand-logo left">
              <img src="../static/assets/images/the_green_corner_logo.png" alt="the green corner logo">
            </a>
          </div>
          <div>
            <a href="#" data-activates="mobile-sidenav" class="button-collapse right"><i class="material-icons menu">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down center">
              <li><a href="{{url_for('get_plants')}}"><span class="fas fa-leaf"></span>All plants</a></li>
              <li><a href="{{url_for('add_plant')}}"><span class="fas fa-plus"></span>Add plant</a></li>
              <li><a href="{{url_for('get_categories')}}"><span class="fas fa-cog"></span>Manage Categories</a></li>
              <!-- Dropdown Trigger -->
              <li><a class="dropdown-button" href="#!" data-activates="dropdown-categories-nav-mobile"><span class="fas fa-cog"></span>Manage Categories <span class="fas fa-caret-down"></span></a></li>
            </ul>
          </div>
          <div>
            <ul class="side-nav" id="mobile-sidenav">
              <li><a href="{{url_for('get_plants')}}"><span class="fas fa-leaf"></span>All plants</a></li>
              <li><a href="{{url_for('add_plant')}}"><span class="fas fa-plus"></span>Add plant</a></li>
              <li><a href="{{url_for('get_categories')}}"><span class="fas fa-cog"></span>Manage Categories</a></li>
              <!-- Dropdown Trigger -->
              <li><a class="dropdown-button" href="#!" data-activates="dropdown-categories-mobile-sidenav"><span class="fas fa-cog"></span>Manage Categories <span class="fas fa-caret-down"></span></a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>

  <!-- main -->
  <main>
    <div id="index-banner" class="parallax-container overlay">
      <div class="section no-pad-bot">
        <div class="container">
          <br><br>
          <h1 class="header center teal-text text-lighten-2">The Green Corner</h1>
          <div class="row center">
            <h5 class="header col s12 light">A modern responsive Web tool for gathering plant specifications and identifying flora worldwide</h5>
          </div>
        </div>
      </div>
      <div class="parallax"><img src="../static/assets/images/wild-flowers-571940_1920.jpg" alt="wild-flowers-571940_1920"></div>
    </div>

    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center">
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>

    <div class="parallax-container valign-wrapper overlay">
      <div class="section no-pad-bot">
        <div class="container">
          <div class="row center">
            <h5 class="header col s12 light">A modern responsive Web tool for gathering plant specifications and identifying flora worldwide</h5>
          </div>
        </div>
      </div>
      <div class="parallax"><img src="../static/assets/images/lemon-852244_1920.jpg" alt="lemon-852244_1920"></div>
    </div>

    <!-- main -->
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l4 s12">
            <h5 class="white-text">Company Bio</h5>
            <p class="grey-text text-lighten-4">We are a team of students working on this project on our free time like it's a part time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>

          </div>
          <div class="col l7 s12">
            <h5 class="white-text">Help The Green Corner Grow</h5>
            <p class="grey-text text-lighten-4">
              Help support us by turning off adblock. If you still prefer to keep adblock on for this page but still want to support us, feel free to donate.
              We hope you have enjoyed using The Green Corner and if you feel like it has helped you out and want to support the team you can help us by donating or backing us on Patreon. Any amount would help support and
              continue development on this project and is greatly appreciated.</p>
            <a class="btn waves-effect waves-light lighten-3 btn-support" href="https://www.patreon.com/europe" target="_blank">Support Us</a>
          </div>
          <div class="col l1 s12">
            <h5 class="white-text">Connect</h5>
            <ul>
              <li class="inline"><a class="white-text" href="https://github.com/sctlcd/the-green-corner" target="_blank"><i class="fab fa-github"></i><span class="sr-only"></span></a></li>
              <li class="inline"><a class="white-text" href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i><span class="sr-only"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container center">
          <strong><i class="far fa-copyright"></i> 2020 by Lucinda Souchet <a class="text-lighten-3" href="https://github.com/sctlcd" target="_blank"><i class="fab fa-github"></i><span class="sr-only">Github</span></a></strong>
        </div>
      </div>
    </footer>
  </main>

  <!-- scripts -->
  <script src="https://kit.fontawesome.com/e576f39845.js" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script src="../static/assets/js/init.js"></script>
</body>

</html>
