{% extends 'base.html' %}
{% block content %}
<div class="row">
  <h3>Plants</h3>

  {% for plant in plants %}
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">
        <div class="col s2">
          <i class="material-icons">expand_more</i>
        </div>
        <div class="plant_header col s5">
          <strong>{{ plant.scientifique_name }}</strong> <br /> <em>{{ plant.common_name }}</em>
        </div>
        <div class="col s5">
          <a href="#" class="waves-effect waves-light btn btn_small">Delete</a>
          <a href="#" class="waves-effect waves-light btn btn_small blue">Edit</a>
        </div>
      </div>
      <div class="collapsible-body">
        <label for="family">Family: </label>
        <span id="family">{{ plant.family }}</span>
      </div>
    </li>
  </ul>
  {% endfor %}
  
  <!-- {% for plant in plants %}
        {{plant.scientifique_name}}
        {{plant.common_name}}
        {{plant.genus}}
        {{plant.species}}
        {{plant.family}}
        {{plant.plant_type}}
      {% endfor %} -->
</div>
{% endblock %}
